#collectionID {
    display: none;
    position: relative;
    transition: all 1s;
}

/* #famousimage:hover > #collectionID{
    display: flex;
} */
#collection {
    transition: all 1s;
}

#collection:hover>#collectionID {
    display: flex;
    position: absolute;
    transition: all 2s;
    backdrop-filter: blur(16px);
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    color: white;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}